{% extends 'base.html' %}

{% block head %}
    <title>{{ album.title }}</title>
    <link rel="stylesheet" href="../assets/vendor/jg/justifiedGallery.min.css">
    <link rel="stylesheet" href="../assets/vendor/pswp/photoswipe.css">
    <link rel="stylesheet" href="../assets/vendor/pswp/default-skin/default-skin.css">
    <link rel="stylesheet" href="../assets/kaleidoscope.css">
    <script src="../assets/vendor/jquery-3.slim.min.js"></script>
    <script src="../assets/vendor/jg/jquery.justifiedGallery.min.js"></script>
    <script src="../assets/vendor/pswp/photoswipe.min.js"></script>
    <script src="../assets/vendor/pswp/photoswipe-ui-default.min.js"></script>
    <script src="../assets/kaleidoscope.js"></script>
{% endblock %}

{% block nav %}
        <a href="..">{{ gallery.title }}</a>
        <h1 class="nav__title">{{ album.title }}</h1>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="album">
        {% for photo in album.photos %}
            <a href="{{ photo.large.url }}" class="thumbnail">
                <img src="{{ photo.thumb.url }}"
                     alt="{{ photo.caption }}" title="{{ photo.title }}"
                     width="{{ photo.thumb.size[0] }}" height="{{ photo.thumb.size[1] }}"
                     data-full-width="{{ photo.large.size[0] }}" data-full-height="{{ photo.large.size[1] }}">
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
