{% extends 'base.html' %}

{% block head %}
    <title>{{ album.title }}</title>
    <link rel="stylesheet" href="../assets/kaleidoscope.css">
    <script src="../assets/kaleidoscope.js"></script>
{% endblock %}

{% block nav %}
        <a href="..">{{ gallery.title }}</a>
        <h1 class="nav__title">{{ album.title }}</h1>
{% endblock %}

{% block content %}
    <div class="main">
        {% for section in album.sections %}
            {% if not section.is_default() %}
                <h2 class="section-title">{{ section.name }}</h2>
            {% endif %}
            <div class="album">
            {% for photo in section.photos %}
                <a href="{{ photo.large.url }}" class="thumbnail">
                    <img class="thumbnail__image" rel="album" loading="lazy"
                         src="{{ photo.thumb.url }}"
                         alt="{{ photo.short_caption }}" data-description="{{ photo.long_caption }}"
                         width="{{ photo.thumb.size[0] }}" height="{{ photo.thumb.size[1] }}"
                         data-full-width="{{ photo.large.size[0] }}" data-full-height="{{ photo.large.size[1] }}">
                </a>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    
    {% include "photoswipe.html" %}
{% endblock %}
